## Linear Regression With Multiple Variable (Multivariate Regression)

##### Task-0 [Data_Preprocessing]:- Import all the important packages, load the data in pandas and clean it

In [8]:
import pandas as pd 
import numpy as np
from sklearn import linear_model

In [9]:
df = pd.read_csv('homeprices.csv')
df

   area bedrooms  age   price
0  2600        3   20  550000
1  3000        4   15  565000
2  3200            18  610000
3  3600        3   30  595000
4  4000        5    8  760000

In [11]:
import math
# Replace blank strings with NaN and convert to float
df['bedrooms'] = pd.to_numeric(df['bedrooms'].replace(' ', np.nan))
median_bedrooms = math.floor(df['bedrooms'].median())
median_bedrooms

3

In [ ]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000